<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EndjinRetry" publicKeyToken="50271567b54a4602" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.50" newVersion="1.0.0.50" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>